<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vueblog.mapper.UserMapper">
<!--    <select id="getUser" resultType="com.vueblog.entity.UserVO" parameterType="com.vueblog.entity.UserDTO">-->
<!--        select * from m_user-->
<!--        where usename = #{UserDTO.username}-->
<!--          and password = #{UserDTO.password}-->
<!--    </select>-->
    <select id="getAll" resultType="com.vueblog.entity.UserVO">
        select * from m_user
        where username = #{UserDTO.username}
        and password = #{UserDTO.password}
    </select>
    <select id="selectOne" resultType="com.vueblog.entity.UserDTO">
        select * from m_user
    </select>

</mapper>
